@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(196,192,188,1) 100%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.todo-container{
  margin-top: 30px;
  width: 100vw;
  height: auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}